# LILY CODER 
# from my.telegram.org/apps 
API_ID=
API_HASH=

# from @BotFather on telegram 
BOT_TOKEN=
LOGGER_ID=

# mongo url from cloud.mongodb.com 
MONGO_URL=

OWNER_ID=

# pyrogram session from @StringFatherBot on telegram 
SESSION=
SESSION2=
SESSION3=

# xbit config 
XBIT_API_KEY=
XBIT_API_URL=https://tgapi.xbitcode.com

# NexGenBots config 
NEXGENBOTS_API_TOKEN=
NEXGENBOTS_API_URL=https://aruyt-production.up.railway.app
VIDEO_API_URL=https://aruyt-production.up.railway.app

# limits for the bot 
QUEUE_LIMIT=50
DURATION_LIMIT=7200
PLAYLIST_LIMIT=20

# support config
SUPPORT_CHANNEL=https://t.me/billu_update
SUPPORT_CHAT=https://t.me/billubotssupport

# auto config
AUTO_LEAVE=False
AUTO_END=True
THUMB_GEN=True
VIDEO_PLAY=True
LANG_CODE=en
DEFAULT_THUMB=
PING_IMG=
START_IMG=
COOKIES_URL=
